@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: rgb(20, 20, 20);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container__canva {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(20, 20, 20);
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin: 20px 0;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  color: #27d084;
  padding-top: 50px;
}

.main__subtitle {
  color: #ffffff;
}

.main__info {
  font-size: 35px;
  font-weight: 900;
  background: rgb(255, 255, 255);
  color: #1b1b1b;
  width: 600px;
  height: 150px;
  border-radius: 24px;
  padding: 20px;
  text-align: center;
  filter: drop-shadow(0px 4px 30px #27d084);
  margin-top: 30px;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.time__container {
  position: absolute;
  width: 250px;
  height: 300px;
  background: #27d084;
  border-radius: 0 24px 24px 0;
  box-shadow: 0 0 5px #27d084;
  transform: translateX(-110%);
  visibility: hidden;
  transition: transform 0.4s, visibility 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.time__container.active {
  transform: translateX(0%);
  visibility: visible;
}

.time__container form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.time__container form input {
  height: 45px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.time__counter {
  font-size: 43px;
  color: #fff;
  letter-spacing: 4px;
}

.time__counter span {
  font-size: 16px;
  color: #202125;
}

.btn__time-start {
  border: none;
  color: #202125;
  width: 100%;
  height: 45px;
  border-radius: 12px;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(36, 36, 36);
  margin: 0px;
}

@media (max-width: 768px) {
  .main__title {
    font-size: 40px;
  }

  .main__subtitle {
    font-size: 25px;
    color: white;
  }

  .main__info {
    width: 300px;
    height: 90px;
    font-size: 20px;
  }
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 60%;
  padding: 5px;
  margin: 10% auto;
  background-color: #464646;
  border-radius: 2%;
}

.photo-block {
  margin: 5px;
  max-width: 30%;
  display: flex;
  max-height: 60%;
}

.photo-block img {
  width: 100%;
}

.inform-block {
  margin: 10px;
  width: 65%;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.inform-block a {
  text-decoration: none;
  color: rgb(158, 137, 137);
}

.about-block {
  margin: 10px;
  width: 100%;
  display: flex;
  height: 30%;
  color: rgb(255, 255, 255);
}

.arrow-right,
.arrow-left {
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.arrow-right {
  right: 0px;
}

.arrow-right-top,
.arrow-right-bottom,
.arrow-left-top,
.arrow-left-bottom {
  background: #83868a;
  height: 10px;
  right: -50px;
  position: absolute;
  top: 60px;
  width: 50px;
}

.arrow-left-top,
.arrow-left-bottom {
  left: -100px;
}

.arrow-right-top {
  top: 0px;

  transform: rotate(45deg);
  transform-origin: bottom right;
}
.arrow-right-bottom {
  top: -3px;

  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-left-top {
  top: -10px;

  transform: rotate(135deg);
  transform-origin: bottom right;
}
.arrow-left-bottom {
  top: 1px;

  transform: rotate(-135deg);
  transform-origin: top right;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s;
  height: 70px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #27d084;
}

.btn__title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.ad-baner {
  position: absolute;
  top: 100%;
  left: 26%;
  width: 50%;
  background-color: black;
  border-radius: 17px;
  transition: all 2s ease-in;
  border: 2px white solid;
  /* transform: translateY(100%); */
}

.ad-baner__body {
  position: relative;
  text-align: center;
  padding: 17% 0;
}

.close__btn {
  position: absolute;
  right: 12px;
  top: 11px;
  cursor: pointer;
}

.ad-baner__text {
  font-size: 35px;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #27d084, 0 0 80px #27d084, 0 0 90px #27d084, 0 0 100px #27d084,
    0 0 150px #27d084;
}

.active {
  transform: translateY(-100%);
}
.closed {
  display: none;
}

.customer__message {
  width: 100vw;
  height: 100vh;
  background: black;
}

.message-customer__body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px black solid; */
  width: 41%;
  height: 46%;
  border-radius: 50%;
  transition: all 0.6s ease-in;
}
.message-customer {
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00,
    0 0 150px #00ff00;
}

.message-customer__text {
  padding: 41px 38px 0 30px;
  text-align: center;
}

.message-customer__author {
  margin-top: 20px;
}
