@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background: #202125;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.time__container {
    position: absolute;
    width: 250px;
    height: 300px;
    background: #27d084;
    border-radius: 0 24px 24px 0;
    box-shadow: 0 0 5px #27d084;
    transform: translateX(-110%);
    visibility: hidden;
    transition: transform .4s, visibility .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.time__container.active {
    transform: translateX(0%);
    visibility: visible;
}

.time__container form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.time__container form input {
    height: 45px;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.time__counter {
    font-size: 43px;
    color: #fff;
    letter-spacing: 4px;
}

.time__counter span {
    font-size: 16px;
    color: #202125;
}

.btn__time-start {
    border: none;
    color: #202125;
    width: 100%;
    height: 45px;
    border-radius: 12px;
    background: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}